@import "../../styles/breakpoints.module.scss";

.priceSetting {
  padding: 10px;
  border: 1px dashed #b6b6b6;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include respond-to(lg) {
    font-size: 14px;
  }

  @include respond-to(sm) {
    font-size: 12px;
  }
}
